body {
    background-image:  url(../images/background.jpg);
    background-size: 100%;
}

#blank1, #blank2, #test {
    border-style: solid;
    border-color: red;
    border-width: 1px; 
}


#header {
    height: 13%;
    margin-top: 2%;
    text-align: center;
    line-height: 90px;
    color: white;
    font-size: 55px;
    border-style: solid;
    border-color: red;
    border-width: 1px;  
    background-color: rgb(19, 19, 88);
}

#questions {
    margin-top: 2%;
    height: 78%;
    font-size: 55px;
    border-style: solid;
    border-color: red;
    border-width: 1px;  
    
}

#main {
    height: 100%;
    font-size: 55px;
    border-style: solid;
    border-color: red;
    border-width: 1px;
    background-color: rgb(19, 19, 88);
    text-align: center;
    color: white;  
    
}