body, #blank, #test, #timer, #Q1, #Q2, #Q3, #Q4, #Q5, #Q6, #header, #questions, #main, #option {
    border-style: solid;
    border-color: red;
    border-width: 1px; 
}

body {
    background-color: rgb(19, 19, 88);
}

#timer {
    text-align: center;
}

#header {
    height: 13%;
    margin-top: 2%;
    text-align: center;
    line-height: 90px;
    color: white;
    font-size: 55px;
    background-color: rgb(19, 19, 88);
}

.container {
    height: 100%;
}

#main {
    font-size: 10px;
    color:black;
    font-weight: bold;
}

#Q1, #Q2, #Q3, #Q4, #Q5, #Q6 {
    background-color: rgb(19, 19, 88);
    text-align: left;
    font-size: 16px;
    color: white;
}

#option {
    text-align: center;
}

#questions {
    height: 100%;
    font-size: 10px;
    backgroud-color: white;
    /* background-image:  url(../images/background.jpg); */
    background-size: 100%;
    text-align: center;  
}

#button {
    font-size: 30px;
}

/* #A, #B, #C, #D, #E, #F, #G, #H, #I, #J, #K, #L {
    font-size: 10px;
} */

#sample {
    font-size: 10px;
}